<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    
    <!-- required settings: files -->
    <add key="LocalPathToInputFolder" value="D:\F Drive (Work)\Secure TFS Projects\WAG_LoginJQ-Computer-Seed\WAG_LoginJQ\WAG_Login\WAG_Login\WAG_Login\shiv\TypeScript" /> <!-- required. example:  C:\folder\path  -->  
    <add key="LocalPathToOutputFolder" value="D:\ZeroifyCode" /> <!-- required. example:  C:\folder\path\ZeroifyCode  -->  
    <add key="OutputFilePathToSaveZeroifyKeyValuePairs" value="D:\ZeroifyCode\ObjectNamesRenamed.txt" /> <!-- required. example:  C:\folder\path\ObjectNamesRenamed.txt  -->
    <add key="CreateNewRandomKeyValuePairEachRun" value="true" /> <!-- required. true or false. if false, reuses data from "OutputFilePathToSaveZeroifyKeyValuePairs". if true: ignores "OutputFilePathToSaveZeroifyKeyValuePairs" settings and creates new random set of zeroify key/value pairs   -->
    <add key="ProgramMode" value="0" /><!-- "0" for fast or "1" for smart. Smart will attempt to ignore css class values and html display text, to be more precise on what is renamed. Fast will simply try to replace everything everywhere. -->
    
    <!-- optional settings: ignore files and object names -->
    <add key="InputFileNamesAndFolderNamesToIgnore" value="" /> <!-- optional. semicolon delimited. asterisk for wildcards. ignores the object names in these files.   example:   jquery*;readme*;fonts;bootstrap.js;  =>  this would ignore ~/js/jquery.js and ~/js/jquery-ui.js and ~/css/jquery.css, ~/readme.txt, ~/fonts/ folder, and ~/x/x/x/x/bootstrap.js -->
    <add key="ObjectNamesToIgnoreRename" value="index" /> <!-- optional. semicolon delimited. use * for wildcards ("ui-*" means any code/object name starting with "ui-")   example:   ui-*;fa;btn*;    =>   would ignore ui-datepicker and ui-dialog (jquery html elements), css class "fa" (font awesome), and all (bootstrap) instances of btn such as btn-primary  -->

    <!-- required settings: ignore object names -->
    <add key="IgnoreCssClassNamesLessThanOrEqualToTotalCharacters" value="5" /> <!-- 0 or greater. recommended: 5 (or greater) -->
    <add key="IgnoreJavascriptFunctionNamesLessThanOrEqualToTotalCharacters" value="5" /> <!-- 0 or greater. recommended: 5 (or greater) -->
    <add key="IgnoreJavascriptGlobalVariableNamesLessThanOrEqualToTotalCharacters" value="5" /> <!-- 0 or greater. recommended: 5 (or greater). -->

    <!-- zeroify auto generated masked names will be based on the following keys. NOTE: The free/trial version of ZEROIFY will ignore this config file and use "ZER,O,0,IFY" no matter what. -->
    <add key="ZeroifyPrefix" value="ZER" /> <!-- required. must start with a letter and must be at least 1 character long -->
    <add key="ZeroifySymbol1" value="O" /> <!-- required. must be 1 character long and can NOT be the same as ZeroifySymbol2, and should be alphanumeric -->
    <add key="ZeroifySymbol2" value="0" /> <!-- required. must be 1 character long and can NOT be the same as ZeroifySymbol1, and should be alphanumeric -->
    <add key="ZeroifySuffix" value="IFY" /> <!-- optional. We only included this for fun/marketing so by default people will see the code has been obfuscated with "ZER[O]IFY" -->
    <add key="UseCompactMode" value="false" /> <!-- required. must be true or false. if false, it will use the settings above. if true, it will instead use the shortest possible renamed values to help keep files small. -->


    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>