body {
}

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.page-static-element-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: dodgerblue;
    float: left;
    display: none;
}

.page-marker {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    cursor: pointer;
    font-family: monospace;
    float: left;
    padding: 4px;
}


.design-page-row {
    display: none;
}


page .design-page-row {
    display: block;
    padding: 4px;
   
    font-size: small;
}

.columns-add-text {
    float:none;
}

page .design-square-row {
    width: 38px;
    color: white;
    background-color: #182129;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 4px;
   
}


.design-page-margin {
    /*border-left: 1px dotted black;
    border-right: 1px dotted black;*/
}

.design-root-elements {
    outline: 1px dotted black;
}



.padding-10 {
    padding: 10px;
}

#firstTimeHelp {
    position: fixed;
    left: 40%;
    top: 33%;
    background-color: #b6c218;
    padding: 20px;
    color: black;
    border: 1px solid #9fa82b;
    z-index: 99999999999;
    display: none;
}

#xa {
    display: none;
}

.preview-buttons {
    position: fixed;
    left: 20%;
    z-index: 9999999;
}

.close-preview {
    display: none;
    z-index: 999999;
}

.show-preview {
    z-index: 999999;
}

.clear {
    clear: both;
}

.plus-insert-tool {
    font-size: 30px;
    background-color: rgba(222,233,244,0.5);
    height: 50px;
    width: 100%;
    text-align: center;
    color: #2736AF;
}

rootx {
    display: block;
}


.column {
    margin: 0;
    max-width: 100%;
    padding: 0;
    cursor: auto;
    
}

.design-column {
    /*outline: 1px dotted blue; /* for debugging  outline: 2px dotted blue;*/
    /*outline: 1px dashed #282424;
    outline: 1px solid #DCD8D8;
     outline :1px solid #f5f5f5;*/
    border: 1px dashed #f2e6ae;
}

.design-row {
    /*outline: 2px dotted lightblue; /* for debugging  outline: 2px dotted lightblue;*/
    /*outline: 1px dashed #151313;*/
    /*outline: 1px dashed #ABA3A3;
    outline: 1px solid #D0CDCD;
    
    outline :1px solid #f5f5f5;*/
    border: 1px dashed #f2e6ae;
    border-bottom: none;
    padding: 1px;
}

.design-empty-css {
    margin-left: 10px;
    margin-right: 10px;
    outline: 3px dashed #817f7d;
    cursor: pointer;
    min-width: 10px;
    min-height: 30px;
    max-width: 100%;
}

.design-empty-text-css {
    border: 1px dotted #4699e1;
    max-width: 100%;
}

.design-select-element {
    outline: 5px dashed black;
}

.row {
    margin: 0px;
    /*padding: 15px; /* for debugging padding:15px;*/
    clear: both;
    max-width: 100%;
}

.page-static-element {
    working great font-weight: bold;
    width: 100px;
    display: inline-block;
    padding-left: 5px;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    display: block;
    position: absolute;
    z-index: 1;
}



.design-text-block {
    /*outline: 1px solid black;*/
}


.design-column-X .design-row-X {
    outline: 2px dotted maroon;
}

.design-row-X .design-row-X {
    outline: 2px dotted maroon;
}

.page_element-X {
    outline: 2px dotted green;
    padding: 5px;
}

.debug-row-css {
    /*padding: 2px;*/
    margin-left: 4px;
    font-size: 4px;
    width: 10px;
    height: 10px;
    display: inline-block;
    /* border-radius:5px;*/
    color: #71AF13;
    background-color: #71AF13;
    color: #4699e1;
    background-color: #4699e1;
}

.debug-column-css {
    padding: 2px;
    font-size: 4px;
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 5px;
    color: #71AF13;
    background-color: #71AF13;
    color: #4699e1;
    background-color: #4699e1;
    display: inline-block;
    display: none !important;
}

.debug-text-block-css {
    padding: 1px;
    display: block;
    text-align: left;
    color: transparent;
    background-color: transparent;
    font-weight: bold;
    font-size: xx-small;
}

.debug-text-block-container-css {
    padding: 5px;
    text-align: right;
    color: white;
    background-color: #1f364b;
    display: block;
    font-weight: bold;
    font-size: x-small;
    display: none;
}


.debug-image-block-css {
    padding: 1px;
    display: block;
    text-align: left;
    color: transparent;
    background-color: transparent;
    font-weight: bold;
    font-size: xx-small;
}

.debug-image-block-container-css {
    padding: 5px;
    text-align: right;
    color: white;
    background-color: #1f364b;
    display: block;
    font-weight: bold;
    font-size: x-small;
    ;
    display: none;
}


/**/

.height-dummy-text-image {
    background-color: brown;
    float: right;
    width: 100px;
}

.height-dummy-column {
    width: 100px;
    background-color: black;
}

.z-index-back {
    z-index: -10;
}

.no_select {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.image-selection-drag {
    box-shadow: 0px 0px 10px #C5BFBF;
    box-shadow: 0px 0px 4px #4F79C5;
    background-color: #e0dada !important;
    opacity: 0.9;
}

.image-selection {
    /*border: 4px dashed rgba(0, 0, 0, 0.45);*/
    box-shadow: 0px 0px 10px #C5BFBF;
    box-shadow: 0px 0px 4px #4F79C5;
    /*-o-border-image: url('Content/border-image.png') 30 round;
    -moz-border-image: url('Content/border-image.png') 30 round;
    -webkit-border-image: url('Content/border-image.png') 30 round;
    border-image: url('Content/border-image.png') 30 round;*/
    /*border-style:ridge;
     border-color:white;
     border-width:1px;*/
}

#site-help {
    z-index: 999999999999999999999999;
    border: 6px solid black;
    position: fixed;
    display: none;
    top: 150px;
    left: 400px;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
}

.column.empty:hover::before {
    content: "Empty\a";
    white-space: pre;
}

.column.empty:hover::after {
    content: "\A[Drag @ Drop Here]";
}

.column.empty:hover {
    background-color: #e0dada;
    opacity: 0.8;
   
}

.newly-added-column{
    background-color: #e0dada;
    border-left:1px solid #4699e1;
}

.empty {
    text-align: center;
    vertical-align: middle;
    font-size: medium;
    font-weight: bold;
    color:black !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


.empty-drop-element {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.jq-dragging {
    max-width: 600px !important;
    max-height: 500px !important;
}

/*.column.empty:hover .empty-drop-element{
   display:inline-block;
   opacity:0.8;
   
}*/

