
#contextMenuitems {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: #333;
    font-family: 'lucida sans unicode',sans-serif;

    background-color:rgb(144, 146, 204);
    background-color:#ede7e7;
}

#contextMenu {
    display: none;
    position:fixed;
    border: 1px solid grey;
    width: 150px;
    box-shadow: 2px 2px 1px grey;
    background-color: white;
    border-radius: 5px;
    z-index:500;
}

#contextMenuitems li {
    cursor: default;
   
    text-align: left;
    border-bottom: solid 1px #ccc;
}

    #contextMenuitems li:first-child {
       
    }

    #contextMenuitems li:last-child {
      
        border: none;
    }

#contextMenuitems li:hover {
    background: #EC6603;
    background:#0B0B0A;
    background-color:#B4A3D6;
    
    color: #fff;
    color:black;

}

#contextMenuitems li {
    position: relative;
    
}

#contextMenuitems li .innerListContainer
{
     display:none;
    position: absolute;
    border: 1px solid blue;
    width: 150px;
    box-shadow: 2px 2px 1px grey;
   
    border-radius: 5px;

    left:147px;
    top:-1px;

      background-color:rgb(144, 146, 204);
       background-color:#ede7e7;
}

    #contextMenuitems li ul {
    
   list-style: none;
    padding: 0px;
    font-size: 12px;
    color: #333;
    font-family: 'lucida sans unicode',sans-serif;

    }

.li {
z-index:999999999;
padding:8px;
color:white;
color:black;
}

.ctx-menu-disabled{
    background:grey;
    color:grey;
}

.jq-menu-arrow {
    height:20px;
    width:15px;
    background-image: url('Content/Images/arrow.png');
    background-size:100% 100%;
    float:right;
}