
controls {
}


    controls * {
        padding: 3px;
    }

.cntrls {
    padding: 3px;
}

.page {
}

.jq-properties-tag {
    z-index: 999999999999999999999;
    position: absolute;
    background-color: antiquewhite;
    top: 200px;
    left: 100px;
    border-radius: 5px;
    padding: 4px;
}

.tag-control:hover {
    color:#3498db;
}

.tag-color-red{
    color:#e02c2c;
}

.tag-color-red:hover{
    color:red;
}

.selected-display-element-container {
    padding-top: 3px;
    padding-left: 7px;
    color: black;
    font-weight: bold;
    font-size: smaller;
}

.selected-display-element {
    float: right;
    padding: 4px;
    margin-right: 6px;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.properties-tag {
    background-color: white;
    padding: 4px;
    position: absolute;
    z-index: 99999999999999999999;
    top: 250px;
    left: 250px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: none;
    border: 2px solid black;
}

.properties-tag-img {
    height: 20px;
    width: 20px;
    float: left;
    cursor: pointer;
}

.properties-sidebar {
    padding: 0;
    background-color: #eee;
    height: 600px;
    width: auto;
}

.properties-sidebar-container {
    background-color: #D3D3D3;
    background-color: #6287A7;
    background-color: #eee;
    height: 628px;
    position: fixed;
    top: 43px;
    overflow: scroll;
}

.jq-properties-tab-tab{
    background-color:#9B9A9E;
}

.jq-properties-tab-tab .table-cell{
    text-align:center;
    font-weight:bold;
    color:white;
    cursor:pointer;
}

.borer-for-prop-tab{
  border-right:1px solid white;
}

.jq-prop-tab-selected{
        background-color:#ccc;
}

#properties-accordion {
    padding: 5px;
}

.bi-selected-image {
    width: 130px;
}

.small-name {
    font-size: smaller;
    position: relative;
    top: 5px;
}

.jq-plus-container-text .design-row {
    outline: none;
}


.image-text-other .adjust-image-text-other .ui-resizable-s .jq-square-s {
    /*background-color: rgba(0, 128, 0, 0.6);
     box-shadow:none;
     border:2px solid #449546;*/
}

.design-adjust-image-text-other {
    /*margin: 1px;*/
}

.image-text-other .adjust-image-text-other-left .ui-resizable-e .jq-square-e {
    /*background-color: red;
     box-shadow:none;
     border:2px solid red;*/
}

.image-text-other .adjust-image-text-other-left {
    float: left;
    height: 10px;
    max-width: 100%;
}



.control-move-area {
    border-radius: 5px;
    color: white;
    padding: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#323834));
    background: -webkit-linear-gradient(top, #000000, #323834);
    background: -moz-linear-gradient(top, #000000, #323834);
    background: -ms-linear-gradient(top, #000000, #323834);
    background: -o-linear-gradient(top, #000000, #323834);
    height: 30px;
    text-align: center;
}

.internet-image-url {
    border: 1px solid black;
    float: left;
    width: 500px;
    margin-left: 10px;
}

.internet-bi-image-url {
    border: 1px solid black;
    float: left;
    width: 200px;
    margin-left: 10px;
}

.control-move-area img {
    height: 15px;
    margin-top: 2px;
}

.control-bs-controls {
    width: 300px;
}


.jq-clipboard {
    height: 100px;
    width: 300px;
}


.control-page {
    border-top: 1px solid #96d1f8;
    /*background: #e8ede9;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#c3ccb3), to(#e8ede9));
   background: -webkit-linear-gradient(top, #c3ccb3, #e8ede9);
   background: -moz-linear-gradient(top, #c3ccb3, #e8ede9);
   background: -ms-linear-gradient(top, #c3ccb3, #e8ede9);
   background: -o-linear-gradient(top, #c3ccb3, #e8ede9);*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    vertical-align: middle;
    padding: 0;
    display: none;
    -moz-box-shadow: 0 0 10px #414145;
    -webkit-box-shadow: 0 0 10px #414145;
    box-shadow: 0 0 10px #414145;
    background-color: white;
}

.controls-pinned-wrapper {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    height: 460px;
    width: 400px;
    background-color: #586065;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.columns-pending {
    border: 2px dashed black;
}

.control-properties {
    border-top: 1px solid #96d1f8;
    /*background: #e8ede9;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#c3ccb3), to(#e8ede9));
   background: -webkit-linear-gradient(top, #c3ccb3, #e8ede9);
   background: -moz-linear-gradient(top, #c3ccb3, #e8ede9);
   background: -ms-linear-gradient(top, #c3ccb3, #e8ede9);
   background: -o-linear-gradient(top, #c3ccb3, #e8ede9);*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    text-decoration: none;
    vertical-align: middle;
    display: none;
}



.close-panel {
    text-align: right;
    float: right;
    padding: 5px;
}



.close-button {
    font-size: 13px;
    color: red;
    cursor: default;
    padding: 6px;
    cursor: pointer;
    font-weight: bold;
}


.control-page fieldset {
    background-color: rgba(255,255,255,0.9);
}

.control-page {
    position: fixed;
    left: 25%;
    top: 150px;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid black;
    padding-bottom: 5px;
    z-index: 999999999;
    overflow-y: auto;
    max-height: 500px;
    cursor: pointer;
    background-color: white;
}

.control-properties fieldset {
    background-color: rgba(255,255,255,0.2);
}

.control-properties {
    position: fixed;
    right: 10px;
    top: 10%;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid black;
    padding-bottom: 5px;
    z-index: 999999999;
    overflow-y: auto;
    max-height: 500px;
    cursor: pointer;
}


.control-page .legend {
    /*background-color: lightgreen;
    background-color: #99CCFF;
    background-color: #666D73;
    background-color: #386E9C;*/
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*color: white;*/
    padding-left: 5px;
    font-weight: bold;
}


.control-page .page-name {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #26527d;
    background-color: #0F1215;
    text-align: center;
    border-radius: 5px;
}


.control-page fieldset {
    /*border: 1px solid grey;*/
}


.control-properties .legend {
    background-color: lightgreen;
    background-color: #99CCFF;
    background-color: #386E9C;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}


.control-properties .page-name {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #26527d;
    background-color: #0F1215;
    text-align: center;
    border-radius: 5px;
}

.control-p {
    padding: 8px;
}


.control-properties fieldset {
    padding: 3px;
    border-radius: 8px;
}

.control-columns-root {
    width: 360px;
}

.control-columns {
    display: inline-block;
    padding: 2px;
    background-color: white;
    border: 1px solid grey;
    border: 2px solid #bbbbcb;
    height: 15px;
}

#rows-columns {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid green;
}

.controls-action {
    text-align: right;
}

.action-button {
    background: #0cc74d;
    background-image: -webkit-linear-gradient(top, #0cc74d, #36b82b);
    background-image: -moz-linear-gradient(top, #0cc74d, #36b82b);
    background-image: -ms-linear-gradient(top, #0cc74d, #36b82b);
    background-image: -o-linear-gradient(top, #0cc74d, #36b82b);
    background-image: linear-gradient(to bottom, #0cc74d, #36b82b);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

    .action-button:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }



.highlight-column {
    background-color: black;
}

#notify {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    position: fixed;
    margin-left: 450px;
    padding: 10px;
    display: none;
    z-index: 9999999999999999999;
    top: 70px; /*notifypx*/
    border-radius: 5px;
    cursor: pointer;
}

.success-notify-background {
    background-color: #7eb707;
}

.yellow-notify-background {
    padding: 10px;
    background-color: #0cc74d;
    color: white;
    /*font-family:'Comic Sans MS';*/
    margin: -10px;
    border-radius: 5px;
    cursor: pointer;
}

.yellow-green-notify-background {
    padding: 10px;
    background-color: #2dc302;
    color: black;
    /*font-family:'Comic Sans MS';*/
    margin: -10px;
}


.error-notify-background {
    background-color: red;
}

.error-notify-block {
    border-bottom: 1px solid white;
}

.required-symbol {
    color: red;
    font-size: 25px;
}


.help {
    border: 2px solid;
    border-radius: 5px;
    text-align: right;
    display: inline-block;
    float: right;
    color: white;
    background-color: dodgerblue;
}

.help-field {
}

.help-symbol {
    color: red;
    font-size: 25px;
    padding: 1px;
    background-color: white;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}


/******************* Inset Text ****************/

.insert-text-box {
    border: 1px solid blue;
    height: 100px;
}

/******************* Font List *****************/

.ddn-font-pinned {
    font-family: 'Times New Roman';
    word-spacing: 3px;
    width: 155px;
}

.ddn-font-size-pinned {
    width: 55px;
}

.ddn-control {
    padding: 5px;
    font-size: 14px;
    border: 1px solid blue;
    color: black;
}

/******************* Smart Menu ****************/
#sm {
    position: fixed;
    display: none;
}

    #sm tr td {
        padding-bottom: 5px;
        padding-right: 5px;
    }

.smart-menu-collapse {
    background-size: contain;
    height: 20px;
    width: 20px;
    border-left: 2px solid #C16363;
    border-right: 2px solid #C16363;
    border-top: 1px solid #C16363;
    border-bottom: 1px solid #C16363;
}

.smart-menu-collapse-close {
    background-image: url('Content/Images/up.jpg');
}

.smart-menu-collapse-show {
    background-image: url('Content/Images/down.jpg');
}

.smart-menu {
    position: absolute;
    z-index: 999999999;
    color: #36b82b;
    width: 180px;
    padding: 5px;
    right: 40px;
    top: -6px;
}

/*.smart-menu-icon {
    background-color: white;
    z-index: 999999999999;
    float: right;
    width: 10px;
    height: 10px;
    
    background-image: url('Content/Images/RightImageBlue.png');
    background-size:cover;
}*/

.smart-menu-controls {
    background-color: #C16363;
    color: white;
    font-weight: bold;
    margin: -2px;
}

.smart-menu-height-width {
    padding: 0;
}

.smart-menu-height {
    color: black;
}

.smart-menu-width {
    color: black;
}

.smart-menu-controls-table {
    width: 220px;
}

    .smart-menu-controls-table td {
    }



#control-add-row {
    top: 150px;
    left: 30%;
}

/******************* Height Width **************/

#control-height-width {
    width: 260px;
    left: 35%;
    top: 22%;
}

#control-color {
    width: 300px;
    left: 35%;
    top: 150px;
}

#control-bi {
    left: 35%;
    top: 150px;
}

/******************* Image Library ***************/

.image-library {
    height: 280px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid green;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;*/
    /*opacity: 0.8;*/
    background-color: rgba(76, 174, 76, 1);
    border: 1px dashed green;
}

.image-library-image {
    max-width: 150px;
    max-height: 150px;
    border: 2px;
    background:none;
}

.image-lib-container {
    display: inline-block;
}

.image-library-select {
    border: 2px dashed blue;
}

#control-image-library {
    top: 150px;
    left: 200px;
    width: 700px;
    background-color: black;
}

/************ Border */

.control-border {
    top: 150px;
    width: 550px;
}

.control-border-thickness {
}

.border-all-divider {
    border-bottom: 2px solid black;
}

.border-thickness-padding-row {
    padding: 8px;
}

.border-color-padding-row {
    padding: 6px;
}

.control-border-all-sides {
    height: 20px;
    width: 20px;
}

.border-style-control-container {
    padding: 4px;
    display: inline-block;
}

.border-style {
    display: inline-block;
    width: 30px;
    height: 20px;
    border-width: 2px;
    border-color: black;
}

.border-style-solid {
    border-style: solid;
}

.border-style-dashed {
    border-style: dashed;
}


.border-style-dotted {
    border-style: dotted;
}

.border-style-groove {
    border-style: groove;
}

.column-no-pad {
    padding: 0;
}


.border-style-selected {
    border: 1px solid black;
}


#control-insert-text {
    top: 150px;
}

/********** control template *********************/

#control-templates {
    display: none;
    top: 150px;
    left: 330px;
    width: 630px;
}


.menu-iframe {
    width: 100%;
    height: 290px;
}

.control-menu {
    width: 800px;
    height: 400px;
}

.jq-border-advanced {
    /*display:none;*/
}

.jq-c-lable {
    font-size: smaller;
}

#control-image-bi-library {
    z-index: 2147483647;
    top: 150px;
    width: 700px;
}

.bi-h-w {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

.ui-spinner {
    width: 150px;
}
