
/*@media screen and (max-width: 600px) {
    img {
        width: 120px!important;
    }

    .jq-Header {
        background-color: blue;
    }
}*/

/*@media screen and (max-width: 1200px) {
    .control-properties {
        left:600px;
    }

}


@media screen and (max-width: 1000px) {
    .control-properties {
        left:450px;
    }

}


@media screen and (max-width: 800px) {
    .control-properties {
        left:350px;
    }

}*/


